body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color: #ff86061f; 
   
}
.app-container {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 0 20px;
}


/* Toolbar na górze */
.top-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #f43939;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}
.nav-links a {
    text-decoration: none;
    color: #777;
    margin-left: 20px;
    font-weight: 500;
}

.nav-links a.active {
    color: #f39200;
    border-bottom: 2px solid #f39200;
}

/* Header */
.main-header {
    margin: 40px 0;
}

.main-header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

/*GRID ZNAKÓW*/
.character-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr)); 
    gap: 20px;
}
.character-card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.character-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.card-text h3 {
    margin: 0;
    font-size: 20px;
}

.card-text p {
    color: #777;
    font-size: 14px;
    margin: 5px 0 0;
    max-width: 150px;
}

/* Duży znak w tle karty */
.symbol-bg {
    font-size: 50px;
    color: #f39200; 
    font-weight: bold;
    position: absolute;
    align-self: center;
    right: 60px;
}
.char-card.mastered {
    border: 2px solid #f39200; /* Pomarańczowy/Złoty kolor z Figmy */
    background-color: #fff9f5;
    box-shadow: 0 0 10px rgba(243, 146, 0, 0.2);
}

.view-counter {
    font-size: 9px;
    color: #bbb;
    position: absolute;
    bottom: 5px;
}
