h1 { color: gray;}

/* *{
font-size:20px;
} */
body {
    display:flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
form{
    background-color: bisque;
    border-radius: 1rem;
    padding: 2rem;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1rem;
}